---
---

@import "{{ site.theme }}";
/* style for my sites pre-loader */ 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #111;
}

.dots {
  position: fixed;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

/* Style One */

.dot1 .dot:nth-child(1) {
  animation-delay: 0s;
}

.dot1 .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot1 .dot:nth-child(3) {
  animation-delay: 0.4s;
}

.dot1 .dot {
  border-radius: 50%;
  animation: outSide 1.2s linear forwards infinite;
}

@keyframes outSide {
  50% {
    transform: translateY(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}

.hr1{
  border:0;
  height: 3px;
  background: #095484;
  background-image: linear-gradient(to right,#ccc,#095484,#ccc);
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
}
.btn {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.back-to-top {
    background-color: DodgerBlue;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
  }
  .back-to-top:hover {
    background-color: RoyalBlue;
    }
  .back-to-top:focus, .back-to-top:visited {
    color: white;
  }
  .back-to-top.show {
      opacity: 1;
    }
  .back-to-top {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

/* loader */
.dots-3 {
  width:50px;
  height:24px;
  background:
    radial-gradient(circle closest-side,currentColor 90%,#0000) 0%   50%,
    radial-gradient(circle closest-side,currentColor 90%,#0000) 50%  50%,
    radial-gradient(circle closest-side,currentColor 90%,#0000) 100% 50%;
  background-size:calc(100%/3) 12px;
  background-repeat: no-repeat;
  animation:d3 1s infinite linear;
}
@keyframes d3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
