<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href = "/assets/style.css">
{% seo %}
  </head>

  <body>
    <script>
      let overlay = document.querySelector(".menu_overlay");
      let open = document.querySelector(".fa-bars");
      let close = document.querySelector(".fa-times");
      open.addEventListener("click", () => {
        overlay.style.transform = "translateY(0)";
      });
      close.addEventListener("click", () => {
        overlay.style.transform = "translateY(-110%)";
      });
      function findObjectCoords(e) {
        let dot = document.querySelector(".dot");
        dot.style.left = `${e.clientX - 20}px`;
        dot.style.top = `${e.clientY - 20}px`;
      }
      document.querySelector(".menu_overlay").addEventListener("mousemove", (e) => {
        findObjectCoords(e);
      });
    </script>
    <!-- HEADER -->
    <!-- <div id="header_wrap" class="outer">
        
        
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>-->
    
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div class="container">
          <div class="menu_overlay">
            <i class="fas fa-times"></i>
            <ul class="list">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <div class="dot"></div>
          </div>
          <div class="landing_page">
            <div class="menu">
              <i class="fas fa-bars"></i>
            </div>
            </div>
            <div class="main_text">
              <div class="text_h2 h2-r">Suhas</div>
              <div class="text_h2 h2-l">Rao</div>
            </div>
          </div>
        </div>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
        
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>